boto>=2.38.0
gspread>=0.2.5
twilio>=5.4.0
luigi>=2.0.0
oauth2client==1.5.2
django==1.8.7
teradata>=15.10.0.10
paramiko>=1.16.0
psycopg2>=2.6.1
slackclient>=0.16
suds-jurko==0.6
requests>=2.8.1
pandas>=0.17.1
googleads
slackclient
braintree
zdesk
simple_salesforce
numpy
pymysql
impyla
